NODE_ENV=development
PORT=3000
CORS_ORIGIN=*
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/renford
JWT_SECRET=your-secret-key

EMAIL_SERVICE=Gmail
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=notifications@renford.store
EMAIL_HOST_PASSWORD=
RESEND_API_KEY=

PLATFORM_URL=https://renford.store
